<header class="header">
    <mat-toolbar color="primary">

        <span>My App</span>

        <span class="example-spacer"></span>

        <ul class="header-menu">
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Homepage</a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active">Aboutpage</a>
            </li>
            <li>
                <a routerLink="/cards" routerLinkActive="active">CardVizit</a>
            </li>
        </ul>


    </mat-toolbar>
</header>